.cover__link {
  display: block;
  position: relative;
  padding: calc(740 / 1184 * 100% / 2 - 248px / 2) 0;
  background-image: url(../../../images/cover-trains.jpg);
  background-position: center center;
  background-size: cover;
  text-decoration: none;
}

@media screen and (max-width: 720px) {
  .cover__link {
    padding: calc(740 / 1184 * 100% / 2 - 253px / 2) 0;
  }
}

@media screen and (max-width: 425px) {
  .cover__link {
    padding: calc(740 / 1184 * 100% / 2 - 134px / 2) 0;
  }
}

.cover__link::before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
  transition: opacity 0.5s ease-in;
}

.cover__link:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .cover__link:hover::before {
    opacity: 0.3;
  }
}
