.place__title {
  margin: 0 0 48px;
  font-size: 72px;
  line-height: calc(76 / 72);
  font-weight: 900;
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: calc(19px + 3vw);
    line-height: calc(46 / 42);
    max-width: 97%;
    margin-bottom: 45px;
  }
}

@media screen and (max-width: 425px) {
  .place__title {
    font-size: 32px;
    line-height: calc(35 / 32);
    margin:0 16px 32px;
    max-width: calc(288/320*100%);
  }
}

