.place__title {
  margin: 0 0 48px;
  font-size: 72px;
  line-height: calc(72 / 76);
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: calc(46 / 42);
    max-width: 90%;
  }
}

@media screen and (max-width: 425px) {
  .place__title {
    font-size: 32px;
    line-height: calc(35 / 32);
    margin:0 16px 32px;
    max-width: calc(288/320*100%);
  }
}

