.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1184px;
  width: 92%;
}

@media screen and (max-width: 1024px) {
  .header {
    width: calc(928 / 1024 * 100%);
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: calc(720 / 768 * 100%);
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    width: calc(288 / 320 * 100%);
    max-width: 288px;
  }
}
