.intro__container {
  margin: 0 auto;
  max-width: 984px;
  width: calc(928/1024*100%);
}

@media screen and (max-width: 1024px) {
  .intro__container {
    max-width: 928px;
    width: calc(928/1024*100%);
  }
}

@media screen and (max-width: 768px) {
  .intro__container {
    width: calc(720/768*100%);
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .intro__container {
    width: calc(288/320*100%);;
    max-width: 288px;
  }
}



