.lead__title {
  margin: 0 auto 32px;
  text-align: center;
  font-size: 96px;
  line-height: calc(100/96);
  font-weight: 900;
  max-width: 720px;
}

@media screen and (max-width: 720px) {
  .lead__title {
    font-size: 60px;
    line-height: calc(100/96);
  }
}

@media screen and (max-width: 425px) {
  .lead__title {
    font-size: 40px;
    line-height: calc(44/40);
    max-width: 288px;
    margin-bottom: 16px;
  }
}

