.lead__image {
  display: block;
  margin: 0 auto 8px;
  max-width: 984px;
  width: calc(928/1024*100%);
}

@media screen and (max-width: 1024px) {
  .lead__image {
    max-width: 928px;
    width: 100%;
  }
}
