.footer__list-item {
  margin-right: 19px;
  margin-bottom: 24px;
}

.footer__list-item:last-child {
  margin-right: 0px;
}



@media screen and (max-width: 425px) {
  .footer__list-item {
    margin: 0 0 32px 0;
  }
  .footer__list-item:last-child {
    margin: 0 0 48px 0;
  }
}
